{% extends 'base.html' %}
{% load preonboardFilter %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="table-dark">
            <th>지원 공고 id</th>
            <th>지원자 id</th>
        </tr>
        </thead>
        <tbody>
        {% if filterd %}
        {% for Applicate in filterd %}
        <tr>
            <td>
                <a>{{ Applicate.job_opening.title }}</a>
            </td>
            <td>{{ Applicate.applicant }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

{% endblock %}
